<div class="box-new-tweet">
    <img src="{{this.userService.user?.logo}}" alt="logo user">
  
    <div class="box-new-tweet-content">
      <div class="user-text">
        <span id="tweet" class="textarea" role="textbox" contenteditable></span>
      </div>
      <div class="wrapper-button">
  
        <button class="boton-new-tweet">
          <fa-icon [icon]="faEarthAmericas"></fa-icon> Everyone can reply
        </button>
      </div>
  
      <div class="line"></div>
      <div class="box-new-tweet-content-inferior">
        <ul>
          <li>
            <a href="">
              <fa-icon [icon]="faImage"></fa-icon>
            </a>
          </li>
          <li>
            <a href="">
              <fa-icon [icon]="faStar"></fa-icon>
            </a>
          </li>
          <li>
            <a href="">
              <fa-icon [icon]="faSquarePollVertical"></fa-icon>
            </a>
          </li>
          <li>
            <a href="">
              <fa-icon [icon]="faFaceSmile"></fa-icon>
            </a>
          </li>
          <li>
            <a href="">
              <fa-icon [icon]="faCalendarPlus"></fa-icon>
            </a>
          </li>
          <li>
            <a href="">
              <fa-icon [icon]="faLocationDot"></fa-icon>
            </a>
          </li>
        </ul>
        <div class="box-buttons-new-tweet">
          <span>
            <fa-icon [icon]="faStar"></fa-icon>
          </span>
          <div class="separator"></div>
          <button class="boton-new-thread"><span>
              <fa-icon [icon]="faCirclePlus"></fa-icon>
            </span>
          </button>
          <input type="button" value="Tweet" class="boton2" disabled="true">
  
        </div>
      </div>
  
    </div>
  
</div>