<div class="box-tweet">
  <div class="logo-user-tweet">
    <img src="./../assets/Home _ Twitter_files/logoElPais.jpg" alt="logo el pais">
  </div>
  <div class="user">
    <div><span class="title">EL PAIS</span><span class="sub-title"> @el_pais</span> · <span class="sub-title">21h</span>
    </div>
    <span>
      <fa-icon [icon]="faEllipsis"></fa-icon>
    </span>
  </div>
  <div class="tweet">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse nulla illum unde, voluptatem molestias vero, ut
      delectus sequi
    </p>
    <ng-container *ngIf="siImagen">
      <div class="wrapper-tweet-img">
        <img src="./../assets/images/strawberries-6834750_1280.jpg" alt="imagen prueba">
      </div>
    </ng-container>
    <ng-container *ngIf="siVideo"> 
      <div class="wrapper-tweet-img">
        <video width="100%" height="100%">
          <source src="./../assets/images/People - 84973.mp4" type="video/mp4">
  
          Your browser does not support the video tag.
        </video>
      </div>
    </ng-container>
    

  </div>


  <div class="icons sub-title">

    <span>
      <fa-icon [icon]="faComment"></fa-icon>
      <span class="margin-left">134</span>
    </span>
    <span>
      <fa-icon [icon]="faRetweet"></fa-icon>
      <span class="margin-left">3501</span>
    </span>
    <span>
      <fa-icon [icon]="faHeart"></fa-icon>
      <span class="margin-left">32.7</span>
    </span>
    <span>
      <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>
    </span>
  </div>
</div>