

<app-new-tweet></app-new-tweet>

<div class="box-show-more">
  <span>Show {{numberTweets}} Tweets</span>
</div>

<ng-container *ngFor="let tweet of tweets">
  <app-simple-tweet [tweet]="tweet"> </app-simple-tweet>
</ng-container>


<!--


<div class="box-tweet">
  <div class="logo-user-tweet">
    <img src="./../assets/Home _ Twitter_files/logoElPais.jpg" alt="logo el pais">
  </div>
  <div class="user">
    <div><span>EL PAIS</span><span> @el_pais</span> · <span>21h</span></div>
    <span>
      <fa-icon [icon]="faStar"></fa-icon>
    </span>
  </div>
  <div class="tweet">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse nulla illum unde, voluptatem molestias vero, ut
      delectus sequi </p>
    <div class="wrapper-tweet-img">
      <img src="./../assets/images/strawberries-6834750_1280.jpg" alt="imagen prueba">
    </div>
  </div>
  <div class="icons">
    <span>
      <fa-icon [icon]="faStar"></fa-icon>134
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>3501
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>32.7
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>
    </span>
  </div>
</div>
<div class="box-tweet">
  <div class="logo-user-tweet">
    <img src="./../assets/Home _ Twitter_files/logoElPais.jpg" alt="logo el pais">
  </div>
  <div class="user">
    <div><span>EL PAIS</span><span> @el_pais</span> · <span>21h</span></div>
    <span>
      <fa-icon [icon]="faStar"></fa-icon>
    </span>
  </div>
  <div class="tweet">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse nulla illum unde, voluptatem molestias vero, ut
      delectus sequi </p>
    <div class="wrapper-tweet-img">
      <img src="./../assets/images/tulips-7245691_1280.jpg" alt="imagen prueba">
    </div>
  </div>
  <div class="icons">
    <span>
      <fa-icon [icon]="faStar"></fa-icon>134
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>3501
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>32.7
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>
    </span>
  </div>
</div>
<div class="box-tweet">
  <div class="logo-user-tweet">
    <img src="./../assets/Home _ Twitter_files/logoElPais.jpg" alt="logo el pais">
  </div>
  <div class="user">
    <div><span>EL PAIS</span><span> @el_pais</span> · <span>21h</span></div>
    <span>
      <fa-icon [icon]="faStar"></fa-icon>
    </span>
  </div>
  <div class="tweet">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse nulla illum unde, voluptatem molestias vero, ut
      delectus sequi </p>
    <div class="wrapper-tweet-img">
      <img src="./../../../assets/gifs/GIF Animation.gif" alt="imagen prueba">
    </div>
  </div>
  <div class="icons">
    <span>
      <fa-icon [icon]="faStar"></fa-icon>134
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>3501
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>32.7
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>
    </span>
  </div>
</div>
<div class="box-tweet">
  <div class="logo-user-tweet">
    <img src="./../assets/Home _ Twitter_files/logoElPais.jpg" alt="logo el pais">
  </div>
  <div class="user">
    <div><span>EL PAIS</span><span> @el_pais</span> · <span>21h</span></div>
    <span>
      <fa-icon [icon]="faStar"></fa-icon>
    </span>
  </div>
  <div class="tweet">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse nulla illum unde, voluptatem molestias vero, ut
      delectus sequi </p>
    <div class="wrapper-tweet-img">
      <video width="100%" height="100%" controls muted autoplay>
        <source src="./../assets/images/People - 84973.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="icons">
    <span>
      <fa-icon [icon]="faStar"></fa-icon>134
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>3501
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>32.7
    </span><span>
      <fa-icon [icon]="faStar"></fa-icon>
    </span>
  </div>
</div>
-->