<div class="box-tweet">
    <div class="box-tweet-superior">
    <div class="logo-user-tweet">
        <img src="{{tweet.user.logo}}" alt="{{tweet.user.user}}">
        </div>
        <div class="user">
        <div class="user-content">

            <span class="title">{{tweet.user.user_name}}</span>
            <span class="sub-title"> {{tweet.user.user}}</span>
            
        </div>
        <span>
            <fa-icon [icon]="faEllipsis"></fa-icon>
        </span>
        </div>

    </div>
    
    <div class="tweet">
      <p>{{tweet.tweet}} 
        <ng-container *ngFor="let item of tweet.hashtag">
          <span class="hastag">{{item}}</span>
        </ng-container>
              
      </p>
      <a href="{{tweet.link}}" target="_blank">{{tweet.link}}</a>
      <ng-container *ngIf="tweet.images.length>0">
        <div [ngClass]="darClaseContenedorImagen()">
  
          <ng-container *ngFor="let img of tweet.images">
            <img src="{{img}}" alt="">
          </ng-container>
          
          
        </div>
      </ng-container>
  
    </div>
  
    <div class="icons sub-title">
  
      <span>
        <fa-icon [icon]="faComment"></fa-icon>
        <span class="margin-left">{{tweet.reply}}</span>
      </span>
      <span>
        <fa-icon [icon]="faRetweet"></fa-icon>
        <span class="margin-left">{{tweet.retweet}}</span>
      </span>
      <span>
        <fa-icon [icon]="faHeart"></fa-icon>
        <span class="margin-left">{{tweet.likes}}</span>
      </span>
      <span>
        <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>
      </span>
    </div>
  </div>
