<div class="containerPpal">
  <header>
    <h1>Home</h1>
    <span><fa-icon [icon]="faStar"></fa-icon></span>     
  </header>
  <nav>
    <div class="logo"><fa-icon [icon]="faStar"></fa-icon></div>
    <ul>
      <li><div><fa-icon [icon]="faStar"></fa-icon><span>Home</span></div></li>
      <li><div><fa-icon [icon]="faStar"></fa-icon><span>Explore</span> </div></li>
      <li><div><fa-icon [icon]="faStar"></fa-icon><span>Notifications</span></div></li>
      <li><div><fa-icon [icon]="faStar"></fa-icon><span>Messages</span></div></li>
      <li><div><fa-icon [icon]="faStar"></fa-icon><span>Bookmarks</span></div></li>
      <li><div><fa-icon [icon]="faStar"></fa-icon><span>Lists</span></div></li>
      <li><div><fa-icon [icon]="faStar"></fa-icon><span>Profile</span></div></li>
      <li><div><fa-icon [icon]="faStar"></fa-icon><span>More</span></div></li>
      
    </ul>
    <a class="boton">Tweet</a>
    <div class="spacer"></div>
    
    <div class="box-user">
      <span><fa-icon [icon]="faStar"></fa-icon></span>
      <div class="user-content">
        <span class="title">Manuel Fernández</span>
        <span class="sub-title">@ManuelF09131599</span>
      </div>
      <span><fa-icon [icon]="faStar"></fa-icon></span>
    </div>
  </nav>
  <main>

  </main>
  <aside>
    <footer>

    </footer>
  </aside>


</div>