/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerPpal{
    position: relative;
    width: 76vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 21% 48% 31%;
    grid-template-rows: 50px auto;
    justify-content: center;
    grid-template-areas: 
        "sidenav header aside"
        "sidenav main aside";
}
/*header*/
header{
    grid-area: header;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
header > h1 {
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 15px;
}
header > span{
    padding-right: 15px;
}
.logo{
    padding: 10px 20px;
    height: 50px;
}
/*sidenavbar*/

nav{
    grid-area: sidenav;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    height: 95vh;
    position: sticky;
    top: 0;
    border-right: 1px solid #d5d7da;
    
}
.wrapper-nav-boton{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.wrapper-button-nav{
    margin-top: 10px;
    width: 100%;
    align-self: stretch;
    margin-right: 20px;
}


.wrapper-nav-boton > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
}
.wrapper-nav-boton > ul > li{

    padding: 15px 20px;
    cursor: pointer;
    border-radius: 30px;
    
}
.wrapper-nav-boton > ul > li:hover{
    background-color: #e7e7e5;
}

.wrapper-nav-boton > ul > li > div > span {
    margin-left: 15px;
    font-size: 1.2rem;
}

.boton{
    display: block;
    padding: 15px 25px;
    border-radius: 30px;    
    background-color:#1D9BF0 ;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    font-size: 1.2rem;
    width: 90%;
}


.box-user{
    display: flex;
    justify-content: center;
    align-self: flex-start;  
    justify-self: flex-end;  
   /* margin-bottom: 20px;*/
}
.box-user > span {
    align-self: center;
}
.user-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.title{
    font-size: 0.9rem;
    font-weight: 600;
}
.sub-title{
    font-size: 0.7rem;
}

/*aside*/

aside{
    width: 100%;    
    padding-left: 30px;    
    display: flex;
    flex-direction: column;
    border-left: 1px solid #d5d7da;;
}


.box-search{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box-search > input[type='search']{    
    width: 100%;
    height: 90%;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #EFF3F4;
    padding-left: 45px;
    font-size: 0.9rem;
    font-weight: 300;
}


.box-search > span{
    position: absolute;
    left: 3%;
    top:center;
    
}

/*section happend*/
.happend{
    margin-top: 15px;
}

.titulares{
    background-color: #EFF3F4;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.titulares > a {
    margin-top: 30px;
    text-decoration: none;
    color: #1D9BF0;
}
.box-titular{
    display: flex;
    margin-top: 15px;   
    cursor: pointer;
}
.box-titular:hover{
    background-color: #e7e7e5;
}
.box-titular > img{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}
.title-titular{
    font-size: 0.7rem;
    margin-right: 5px;
}
.titular-content>:nth-child(2){
    margin-left: 5px;
}
.titular{
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.2rem;
}
.who{
    background-color: #EFF3F4;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 15px;
}
.box-follow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}
.user-follow{
    display: flex;
    align-items: center;
}
.box-follow:hover{
    background-color: #e7e7e5;
}

.follow-content{
    display: flex;
    flex-direction: column;
}

.logo-user{
    width: 50px;
    height: 50px;
    border-radius: 45px;
}

.boton-follow{
    border: none;
    padding: 7px 15px;
    border-radius: 30px;
    cursor: pointer;
    background-color:black ;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    font-size: 0.9rem;
    
}

.who > a {
    margin-top: 30px;
    text-decoration: none;
    color: #1D9BF0;
}

.box-new-tweet{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #d5d7da;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.box-new-tweet > img{
    align-self: flex-start;
    border-radius: 50%;
}
.user-text{
    display: flex;
    flex-wrap: nowrap;
}
.box-new-tweet-content{
    
    display: flex;
    flex-direction: column;    
    width: 90%;
    min-height: 150px;
    
}

.textarea{
    display: block;    
    overflow: hidden;
    resize: none;
    min-height: 20px;
    line-height: 20px;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 10px;
}

.textarea[contenteditable]:empty::before {
    content: "What's happening?";
    color: gray;
  }
.box-new-tweet-content-inferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-new-tweet-content-inferior > ul{
    list-style-type: none;
    display: flex;
}
.box-buttons-new-tweet{
    display: flex;
}

.line{
    height: 1px;
    background-color: #d5d7da;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.wrapper-button{
    display: flex;
    align-items: center;
    color: #1D9BF0;
}
.boton-new-tweet{
    border: none;
    color: #1D9BF0;
    background-color: #FFFFFF;
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 10px;
}
.boton-new-tweet:hover{
    background-color: #f0f2f3;
    opacity: 0.9;
}
.boton:disabled{
    background-color: #80c3f0;
}

.box-new-tweet-content-inferior > ul > li > a{
    margin-right: 15px;
    color: #1D9BF0;
} 
.box-buttons-new-tweet{
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator{
    height: 40px;
    background-color: #616263;
    width: 1px;
    margin-right: 10px;
    margin-left: 10px;
}
.boton-new-thread{
    border: 1px solid #d5d7da;
    color: #1D9BF0;
    background-color: #FFFFFF;
    font-weight: 700;    
    border-radius: 25px;
    width: 40px;
    margin-right: 10px;
}

.boton2{
    
    padding: 8px 10px;
    border-radius: 25px;    
    background-color:#1D9BF0 ;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    width: 90%;
}
footer{
    padding: 20px;
}

footer > span > a{
    color: #616263;
    text-decoration: none;
    font-size: 0.7rem;
    margin-right: 10px;
}

main{
    grid-area: main;
    
}
aside{
    grid-area: aside;
 
}

